body {
	background-color: #ccc;
	padding:30px;
	font-family: Arial, Helvetica, "Times New Roman", Courier;
}

pre {
	background-color:white;
	padding:10px;
}

.nav-btn{
	background-color:grey;
}

.btn-over {
	background-color: white;
}
.btn-out {
	background-color: yellow;
}